{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block titulo %} {% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- CSS personalizado -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block css %}{% endblock %}
    </head>
    <body>
        <!-- Partículas de fondo -->
        <div class="bg-particles">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
        
        <div class="header-container">
            <header class="header-content">
                <img src="{% static 'img/logo1.png' %}" alt="Logo Sena Blanco" class="header-logo">
                <div class="header-divider"></div>
                <h1 class="header-title">NOMBRE</h1>
            </header>
        </div>
        <div>
            <main>
                {% block main %} {% endblock %}
            </main>
        </div>
        <div>
            <footer>

            </footer>
        </div>
        
        <!-- JS de Bootstrap y dependencias -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- JS para las partículas -->
        <script src="{% static 'js/particulas.js' %}"></script>
        
        {% block js %}{% endblock %}
    </body>
</html>