{% extends "base.html" %}
{% load static %}
{% block titulo %} Centro de Ayuda {% endblock %}
{% block css %}
<link href="{% static 'css/centroayuda.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}
{% block contenido %} {% endblock %}
{% block main %}
<!-- Mensajes de alerta -->
    {% if messages %}
    <script>
        {% for message in messages %}
            mostrarMensajeExito("{{ message|escapejs }}", "{{ message.tags }}");
        {% endfor %}
    </script>
    {% endif %}

    <div class="contenedor-principal">
        <div class="titulo">
            <h3>❓Centro de Ayuda</h3>
            <p>Accede a videos, manuales y guías para dominar la app fácilmente. Recursos claros, prácticos y siempre actualizados.</p>
        </div>

        <div class="busqueda">
            <h3>Búsqueda y Filtrados</h3>
            <form method="GET" action="">
                <div class="filtros">
                    <!-- Buscador -->
                    <div class="input-group">
                        <input type="text"
                            name="buscar" 
                            placeholder="Buscar recurso..." 
                            class="form-control" value="{{ request.GET.buscar }}">
                        <button class=" buscar" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <select name="estado" class="filtro">
                        <option value="">Todos los estados</option>
                        <option value="diagnostico" {% if request.GET.estado == 'diagnostico' %}selected{% endif %}>En diagnóstico</option>
                        <option value="planeacion" {% if request.GET.estado == 'planeacion' %}selected{% endif %}>En planeación</option>
                        <option value="ejecucion" {% if request.GET.estado == 'ejecucion' %}selected{% endif %}>En ejecución</option>
                        <option value="completado" {% if request.GET.estado == 'completado' %}selected{% endif %}>Completado</option>
                    </select>
                </div>
            </form> 
        </div>

        <div class="recursos">
            <!-- Sección: Manuales y Documentación -->
            <div class="grupo">
                <div class="card">
                    <div class="icon-cont documentos">
                        <img class="icon" src="{% static 'img/Books.png' %}" alt="Icono Documentos y Guías">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Manuales y Documentación Técnica</h5>
                        <p>En esta sección encontrarás los manuales y la documentación técnica necesarios para comprender y utilizar la plataforma de forma efectiva.</p>           
                    </div>
                </div>
                <div class="scrollable-list">
                    <ul class="lista">
                        {% for documento in documentos %}
                        <li>
                            <div class="icon-cont">
                                <img src="{% static 'img/Documents1.png' %}" alt="Icono" class="icono">
                            </div>
                            <div class="texto-lista">
                                <span class="titulo">{{ documento.titulo }}</span>
                                <span class="subtitulo">{{ documento.tipo_archivo }}</span>
                            </div>
                            <div class="acciones">
                                <a href="{{ documento.archivo.url }}" target="_blank" class="fas fa-eye" title="Ver"></a>
                                <a href="{{ documento.archivo.url }}" download class="fa fa-download" aria-hidden="true" title="Descargar"></a>
                            </div>
                        </li>
                        {% empty %}
                        <div class="empty-message">
                            <i class="fa fa-folder-open"></i>
                            <p>No hay documentos disponibles en este momento</p>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <!-- Sección: Video Tutoriales -->
            <div class="grupo">
                <div class="card">
                    <div class="icon-cont tutoriales">
                        <img class="icon" src="{% static 'img/video.png' %}" alt="Icono Video Tutoriales">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Video Tutoriales</h5>
                        <p>En esta sección encontrarás los video tutoriales que te guiarán paso a paso en el uso de la plataforma.</p>           
                    </div>
                </div>
                <div class="scrollable-list">
                    <ul class="lista">
                        {% for video in videos %}
                        <li>
                            <div class="icon-cont">
                                <img src="{% static 'img/cinema.png' %}" alt="Icono" class="icono">
                            </div>

                            <div class="texto-lista">
                                <span class="titulo">{{ video.titulo }}</span>
                                <span class="subtitulo">{{ video.tipo_archivo }}</span>
                            </div>

                            <div class="acciones">
                                <a href="{{ video.archivo.url }}" target="_blank" class="fas fa-eye" title="Ver"></a>
                                <a href="{{ video.archivo.url }}" download class="fa fa-download descargar" title="Descargar"></a>
                            </div>
                        </li>
                        {% empty %}
                        <div class="empty-message">
                            <i class="fa fa-folder-open"></i>
                            <p>No hay videos disponibles en este momento</p>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Sección: Preguntas y Soporte -->
            <div class="grupo">
                <div class="card">
                    <div class="icon-cont soporte">
                        <img class="icon" src="{% static 'img/ask.png' %}" alt="Icono Soporte">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Preguntas y Soluciones</h5>
                        <p>En esta sección encontrarás el formulario de soporte técnico para reportar problemas críticos relacionados con el funcionamiento de la plataforma, que no puedan resolverse con ninguno de los recursos compartidos en esta sección</p>           
                    </div>
                </div>
                <div class="scrollable-list">
                    <ul class="lista">
                        <li>
                            <div class="icon-cont">
                                <img src="{% static 'img/soporte.png' %}" alt="Icono" class="icono">
                            </div>
                            <div class="texto-lista">
                                <span class="titulo">Solicitud de Soporte Técnico</span>
                                <span class="subtitulo">Formulario para reportar incidencias técnicas y solicitar ayuda especializada.</span>
                            </div>
                            <div class="acciones">
                                <i class="fa-solid fa-envelope" title="Ver Formulario" data-bs-toggle="modal" data-bs-target="#modalformulario"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalformulario" tabindex="-1" aria-labelledby="modalLabel9" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <a href="{% url 'centroayuda' %}" class="modal-cerrar-form">&times;</a>
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel9">Formulario de soporte</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'formulario_soporte' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        <div class="mb-3">
                            <label for="nombreCompleto" class="form-label">Nombre completo</label>
                            <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" required>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email de contacto</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <div class="mb-3">
                            <label for="asunto" class="form-label">Asunto</label>
                            <input type="text" class="form-control" id="asunto" name="asunto" required>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción detallada del problema</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="5" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="urgencia" class="form-label">Nivel de urgencia</label>
                            <select class="form-select" id="urgencia" name="urgencia">
                                <option value="" selected disabled>Seleccione una opción</option>
                                <option value="critico">Crítico</option>
                                <option value="media" >Importante</option>
                                <option value="alta">Generales</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="adjuntos" class="form-label">Adjuntar capturas de pantalla (hasta 3 archivos)</label>
                            <input class="form-control" type="file" id="adjuntos" name="adjuntos" multiple accept="image/*">
                            <div class="form-text">Formatos aceptados: JPG, PNG, GIF</div>
                        </div>
                        <div id="image-preview" class="mt-2 d-flex flex-wrap"></div>
                        <div class="modal-footer">
                            <button type="submit" class="btn">Enviar solicitud</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/notificaciones.js' %}"></script>
    <script src="{% static 'js/mensaje.js' %}"></script>
{% endblock %}