{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login y Registro</title>
  <link rel="stylesheet" href="{% static 'css/registro.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  {% if messages %}
    <script>
        {% for message in messages %}
            mostrarMensajeExito("{{ message|escapejs }}", "{{ message.tags }}");
        {% endfor %}
    </script>
  {% endif %}

  <!-- Partículas de fondo animadas -->
  <div class="bg-particles">
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
  </div>

    <div class="container active" id="container">
      
      <!-- Panel Azul -->
      <div class="blue-panel" id="bluePanel">
        <!-- Botón de regresar -->
        <a class="back-arrow" href="{% url 'bienvenido' %}">
          <img class="arrow" src="{% static 'img/arrow.png' %}" alt="back">
        </a>  
        <img src="{% static 'img/logo1.png' %}" alt="Logo SENA" class="logo-sena">
        <h2 id="blueTitle">¿Eres un usuario nuevo?</h2>
        <p id="blueText">Regístrate para acceder al sistema de gestión del conocimiento</p>
        <button id="toggleBtn">Registrarse</button>
      </div>

      <!-- Formulario -->
      <div class="form-container" id="formContainer">
        <div class="header-content">
            <img src="{% static 'img/logo_gc2.png' %}" alt="Logo InnHub" class="header-gc-logo">
            <img src="{% static 'img/nombre1.png' %}" alt="Logo Sena Blanco" class="header-titulo">
        </div>
        <h2 id="formTitle">INICIAR SESIÓN</h2>

        <form class="datos" method="POST" action="{% url 'iniciarsesion' %}" id="mainForm" novalidate>
          {% csrf_token %}

          <!-- Rol -->
          <div class="select_container">
            <select name="rol" class="select" required>
              <option value="">Selecciona tu rol</option>
              <option value="Dinamizador" {% if rol == 'Dinamizador' %}selected{% endif %}>Dinamizador</option>
              <option value="Coordinador" {% if rol == 'Coordinador semillero' %}selected{% endif %}>Coordinador Semillero</option>
              <option value="Líder de Semillero" {% if rol == 'Líder de Semillero' %}selected{% endif %}>Líder de Semillero</option>
              <option value="Líder de Proyecto" {% if rol == 'Líder de Proyecto' %}selected{% endif %}>Líder de Proyecto</option>
              <option value="Investigador" {% if rol == 'Investigador' %}selected{% endif %}>Investigador</option>
              <option value="Instructor" {% if rol == 'Instructor' %}selected{% endif %}>Instructor</option>
            </select>
            {% if error_rol %}
              <div class="error-rol">{{ error_rol }}</div>
            {% endif %}
          </div>
          
          <!-- Cedula -->
          <div class="form-group m-1">
            <input type="text" name="cedula" class="input" placeholder="Cédula" value="{% if cedula %}{{ cedula }}{% endif %}" required>
            {% if error_user %}
              <div class="error-cedula">{{ error_user }}</div>
            {% endif %}
          </div>

          <!-- Contraseña -->
          <div class="form-group m-1">
            <div class="password-field-container">
              <input type="password" name="password" id="loginPassword" class="input" placeholder="Contraseña" required>
              <span class="password-toggle-icon" onclick="togglePasswordLogin()">
                <i class="fas fa-eye" id="toggleIcon_loginPassword"></i>
              </span>
            </div>
            {% if error_password %}
              <div class="error-contrase">{{ error_password }}</div>
            {% endif %}
          </div>

          <a id="olvido" href="{% url 'mostrar_recuperar_contrasena' %}">¿Olvidó su contraseña?</a>

          <div class="form-group m-1">
            <button type="submit" class="btn">Iniciar Sesión</button>
          </div>
        </form>
      </div>
    </div>

  {% if mostrar_modal %}
    <div id="modalOlvido" class="modal modal-visible">
        <div class="modal-content">
            <div class="modal-header">
                <a class="modal-perfil-cerrar" id="btnmodalolvido" href="{% url 'iniciarsesion' %}">
                    <i class="fa fa-times"></i>
                </a>
                <h3>Recuperar Contraseña</h3>
            </div>
            <form method="POST" action="{% url 'recuperar_contrasena' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Ingrese su correo electrónico para recibir instrucciones sobre cómo restablecer su contraseña.</p>   
                    <div class="form-email">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico" required>
                        {% if email_error %}
                            <div class="error-container">{{ email_error }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="submit-btn">Enviar</button>
                </div>
            </form>
        </div>
    </div>
  {% endif %}

<script>
  const container = document.getElementById("container");
  const toggleBtn = document.getElementById("toggleBtn");
  const formContainer = document.getElementById("formContainer");
  const blueTitle = document.getElementById("blueTitle");
  const blueText = document.getElementById("blueText");
  const formTitle = document.getElementById("formTitle");

  let isLogin = true;

  function togglePassword(fieldId) {
    const field = document.getElementById(fieldId);
    const icon = document.getElementById('toggleIcon_' + fieldId);
    
    if (field && icon) {
      if (field.type === 'password') {
        field.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        field.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    }
  }

  function showLoginForm() {
    // Añadir clase de fade out
    formContainer.style.opacity = '0';
    
    setTimeout(() => {
      blueTitle.textContent = "¿Eres un usuario nuevo?";
      blueText.textContent = "Regístrate para acceder al sistema de gestión del conocimiento";
      toggleBtn.textContent = "Registrarse";
      
      formContainer.innerHTML = `
        <div class="header-content">
            <img src="{% static 'img/logo_gc2.png' %}" alt="Logo InnHub" class="header-gc-logo">
            <img src="{% static 'img/nombre1.png' %}" alt="Logo Sena Blanco" class="header-titulo">
        </div>
        <h2>INICIAR SESIÓN</h2>
        <form method="POST" action="{% url 'iniciarsesion' %}" novalidate>
          {% csrf_token %}
          
          <div class="select_container">
            <select name="rol" class="select" required>
              <option value="">Selecciona tu rol</option>
              <option value="Dinamizador">Dinamizador</option>
              <option value="Coordinador">Coordinador</option>
              <option value="Líder de Semillero">Líder de semillero</option>
              <option value="Líder de Proyecto">Líder de proyecto</option>
              <option value="Investigador">Investigador</option>
              <option value="Instructor">Instructor</option>
            </select>
          </div>
          
          <div class="form-group m-1">
            <input type="text" name="cedula" class="input" placeholder="Cédula" required>
          </div>

          <div class="form-group m-1">
            <div class="password-field-container">
              <input type="password" name="password" id="loginPassword" class="input" placeholder="Contraseña" required>
              <span class="password-toggle-icon" onclick="togglePasswordLogin()">
                <i class="fas fa-eye" id="toggleIcon_loginPassword"></i>
              </span>
            </div>
          </div>

          <a id="olvido" href="{% url 'mostrar_recuperar_contrasena' %}">¿Olvidó su contraseña?</a>

          <div class="form-group m-1">
            <button type="submit" class="btn">Iniciar Sesión</button>
          </div>
        </form>
      `;
      
      // Fade in
      setTimeout(() => {
        formContainer.style.opacity = '1';
      }, 50);
    }, 300);
  }

  function showRegisterForm() {
    // Añadir clase de fade out
    formContainer.style.opacity = '0';
    
    setTimeout(() => {
      blueTitle.textContent = "¿Ya tienes cuenta?";
      blueText.textContent = "Inicia sesión para acceder a todas las funcionalidades del sistema";
      toggleBtn.textContent = "Iniciar sesión";
      
      formContainer.innerHTML = `
        <div class="header-content">
            <img src="{% static 'img/logo_gc2.png' %}" alt="Logo InnHub" class="header-gc-logo">
            <img src="{% static 'img/nombre1.png' %}" alt="Logo Sena Blanco" class="header-titulo">
        </div>
        <h2>REGISTRO</h2>
        <form class="datos" method="POST" action="{% url 'registro' %}" novalidate>
          {% csrf_token %}

          <div class="form-group m-1">
            <input type="text" name="cedula" class="input" placeholder="Cédula" required>
          </div>

          <div class="form-group m-1">
            <input type="text" name="nom_usu" class="input" placeholder="Nombre" required>
          </div>

          <div class="form-group m-1">
            <input type="text" name="ape_usu" class="input" placeholder="Apellido" required>
          </div>

          <div class="form-group m-1">
            <input type="email" name="correo_ins" class="input" placeholder="Correo Institucional" required>
            <small class="form-text text-muted">
              Se enviará un enlace de verificación a este correo.
            </small>
          </div>

          <div class="select_container">
            <select name="rol" class="select" required>
              <option value="">Selecciona tu rol</option>
              <option value="Investigador">Investigador</option>
              <option value="Instructor">Instructor</option>
            </select>
          </div>

          <div class="form-group m-1">
            <div class="password-field-container">
              <input type="password" name="contraseña" id="password" class="input" placeholder="Contraseña" required>
              <span class="password-toggle-icon" onclick="togglePassword('password')">
                <i class="fas fa-eye" id="toggleIcon_password"></i>
              </span>
            </div>
          </div>

          <div class="form-group m-1">
            <div class="password-field-container">
              <input type="password" name="conf_contraseña" id="confpassword" class="input" placeholder="Confirmar Contraseña" required>
              <span class="password-toggle-icon" onclick="togglePassword('confpassword')">
                <i class="fas fa-eye" id="toggleIcon_confpassword"></i>
              </span>
            </div>
          </div>

          <div class="form-group m-1">
            <button type="submit" class="btn">Registrarse</button>
          </div>
        </form>
      `;
      
      // Fade in
      setTimeout(() => {
        formContainer.style.opacity = '1';
      }, 50);
    }, 300);
  }

  toggleBtn.addEventListener("click", () => {
    container.classList.toggle("active");
    isLogin = !isLogin;

    if (isLogin) {
      showLoginForm();
    } else {
      showRegisterForm();
    }
  });

  window.togglePasswordLogin = function() {
    const field = document.getElementById('loginPassword');
    const icon = document.getElementById('toggleIcon_loginPassword');
    
    if (field && icon) {
      if (field.type === 'password') {
        field.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        field.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    }
  };
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mensaje.js' %}"></script>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/mensaje.js' %}"></script>
</body>
</html>