{% extends "base2.html" %}
{% load static %}
{% block titulo %} Resumen - {{ semillero.sigla }} {% endblock %}
{% block css %}
<link href="{% static 'css/resumen.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}
{% block contenido %} {% endblock %}
{% block main %}
   <!-- Mensajes de alerta -->
    {% if messages %}
    <script>
        {% for message in messages %}
            mostrarMensajeExito("{{ message|escapejs }}", "{{ message.tags }}");
        {% endfor %}
    </script>
    {% endif %}
    <div class="resumen">
        <div class="grupo">
            <div class="card">
                <div class="icon-cont objetivos">
                    <img src="{% static 'img/goal.png' %}" alt="Objetivos">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Objetivos del Semillero</h5>            
                </div>
            </div>
            <div class="texto-inferior">
                <ul>
                    {% for objetivo in objetivos_lista %}
                        <li>{{ objetivo }}</li>
                    {% empty %}
                        <li>Sin objetivos definidos</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="grupo">
            <div class="card">
                <div class="icon-cont lineas">
                    <img src="{% static 'img/creacion.png' %}" alt="Creación">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fecha de Creación</h5>            
                </div>
            </div>
            <div class="texto-inferior">
                <p>El semillero fue creado el: {{ semillero.fecha_creacion|date:"d/m/Y" }}</p>
            </div>
        </div>

        <div class="grupo">
            <div class="card">
                <div class="icon-cont progreso">
                    <img src="{% static 'img/progreso.png' %}" alt="Progreso">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Progreso General</h5>            
                </div>
            </div>
            <div class="texto-inferior">
                <p>{{ semillero.progreso_sem|floatformat:0 }}% completado</p>
                <div class="progress-bar">
                    <div class="progress-fill" 
                        role="progressbar"
                        style="width: {{ semillero.progreso_sem }}%"
                        aria-valuenow="{{ semillero.progreso_sem }}" 
                        aria-valuemin="0" 
                        aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>     
    <script src="{% static 'js/notificaciones.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mensaje.js' %}"></script>


{% endblock %}