 {% extends "base.html" %} {% load static %} 
 {% block titulo %} NOMBRE {% endblock %} 
 {% block css %} 
 <link href="{% static 'css/semilleros.css' %}" rel="stylesheet"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
 {% endblock %} 
 {% block contenido %} 
 {% endblock %} 
 {% block main %}      
    <div class="contenedor1">         
        <div class="contenedor-titulo">             
            <img src="{% static 'img/microscopio.png' %}" alt="Semilleros">             
            <h1 class="titulo">Semilleros</h1>         
        </div>         
        <div class="buscador">             
            <div class="input-group">                 
                <input type="text" class="form-control" placeholder="Buscar semillero..." aria-label="Buscar semillero" aria-describedby="button-search">                 
                <button class="btn btn-primary" type="button" id="button-search"> <i class="fa fa-search"></i>                 
                </button>             
            </div>             
            <div class="filtros">                 
                <select class="form-select" aria-label="Filtrar por categoría">                     
                    <option selected>Filtrar por categoría</option>                     
                    <option value="1">Ciencia</option>                     
                    <option value="2">Tecnología</option>                     
                    <option value="3">Ingeniería</option>                     
                    <option value="4">Matemáticas</option>                 
                </select>                 
                <select class="form-select" aria-label="Ordenar por">                     
                    <option selected>Ordenar por</option>                     
                    <option value="1">Más recientes</option>                     
                    <option value="2">Más antiguos</option>                     
                    <option value="3">A-Z</option>                     
                    <option value="4">Z-A</option>                 
                </select>             
            </div>         
        </div>         
        <div class="contenedor-semillero">             
            <div class="card-semillero">                 
                <div class="card-body">                     
                    <h4>Semillero de Robótica</h4>                     
                    <h5 >Explora la Robótica</h5>                     
                    <h6>codigo</h6>                     
                    <p class="card-text">Explora el mundo de la robótica y la automatización con proyectos innovadores.</p>                     
                    <div class="card-info">                         
                        <span class="badge bg-secondary">2                              
                            Ciencia</span>                         
                        <span class="badge bg-secondary">3                              
                            Tecnología</span>                         
                        <span class="badge bg-secondary">3                             
                            Tecnología</span>                    
                        </div>                     
                        <a href="{% url 'resumen' %}" class="btn btn-primary">Ver más</a>                 
                    </div>             
                </div>             
                <div class="card-semillero">                 
                    <div class="card-body">                     
                        <h4>Semillero de Biotecnología</h4>                     
                        <h5 >Innovación en Biotecnología</h5>                     
                        <h6>codigo</h6>                     
                        <p class="card-text">Descubre los avances en biotecnología y su impacto en la salud y el medio ambiente.</p>                     
                        <div class="card-info">                         
                            <span class="badge bg-secondary">2                              
                                Ciencia</span>                         
                            <span class="badge bg-secondary">3                              
                                Tecnología</span>                         
                            <span class="badge bg-secondary">3                              
                                Tecnología</span>                     
                        </div>                     
                        <a href="#" class="btn btn-primary">Ver más</a>                 
                    </div>             
                </div>                  
            </div> 
        </div>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

 
{% endblock %}